* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 96%;
  margin: auto;
  max-width: 1440px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.intro h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}

.members {
  max-width: 420px;
  width: 92%;
  margin: 2rem auto;
}

.members-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1rem;
  margin-top: 16px;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(202, 245, 215);
}

.report-main {
  max-width: 900px;
  margin-top: 2rem;
}

.circuit-main {
  width: 960px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.switch {
  position: absolute;
  height: 40px;
  width: 70px;
}

#switchA {
  left: 88px;
  top: 148px;
}

#switchB {
  left: 88px;
  top: 228px;
}

#switchC {
  left: 88px;
  top: 435px;
}

.bulb {
  position: absolute;
  height: 120px;
  width: 100px;
  right: 18px;
  top: 144px;
  transform: rotate(-90deg);
}

.stuck-at-selector {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 72px);
  grid-auto-flow: row;
  grid-gap: 0.5rem;
  right: 200px;
  bottom: -25px;
  padding: 4px;
  background-color: #3385ff;
}

.stuck-at-button {
  display: flex;
  background-color: #27d447;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 2px;
}

.st-lables {
  position: absolute;
  color: red;
  visibility: hidden;
}

.simulator-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1rem;
  border-width: 1px;
}

figure {
  text-align: center;
}

.sim-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0b9b38;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0 1rem;
}

#table-here {
  width: 100%;
  margin-top: 1rem;
  border-width: 1px;
  position: relative;
}

.tt-select {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  margin: auto;
  background-color: #3385ff;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}